<%= form_with model: current_user, url: update_member_description_path, method: :put do |f| %>
  <div class="modal-body">
    <div class="row">
      <div class="col-lg-12">
        <div class="form-group">
          <%= f.label :about, 'Edit your description here', class: 'form-label' %>
          <%= f.text_area :about, class: 'form-control', rows: 10 %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.submit 'Save Changes', class: 'btn btn-primary' %>
  </div>
<% end %>
